.item {
    padding: 2%;
    border: 2px solid #303030;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img {
    padding: 10% 0;
}

.item p {
    color: black;
    font-weight: 600;
}

.item p:last-child {
    color:rgb(36, 163, 47);
    font-weight: 500;
}

.item .off {
    color: red!important;
}