.transWrapper {
    width: 40%;
    border: 1px solid #000;
}

.transWrapper table {
    width: 100%;
    border-collapse: collapse;
} 

.transWrapper thead tr {
    background-color: rgb(32, 32, 32)!important;
    color: #fff;
}

.transWrapper tr {
    background-color: #6684a7;
}

.transWrapper tr:nth-child(even) {
    background-color: #bed1e6;
    color: #000;
}

.transWrapper thead th, .transWrapper td {
    border: 1px solid #000; 
    padding: 1% 0;
}